<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 다른 mapper와 중복되지 않도록 네임스페이스 기재 -->
<!-- mapper - mybatis, sqlMap - ibatis -->
<mapper namespace="member">
	<!--  로그인 -->
	<!-- MAP은 대문자로 저장됨 -->
	<select id="loginCheck" parameterType="String" resultType="map">
		SELECT 
			DECODE(USERID, 
				'user1', '김부장', 'user2', '이부장', 'user3', '박부장',
				'user4', '김과장', 'user5', '이과장', 'user6', '박과장',
				'user7', '김대리', 'user8', '이대리', 'user9', '박대리',
				'user10', '김사원', 'user11', '이사원', 'user12', '박사원') USERID,
			USERPW, 
			USERNAME, 
			RANK,
			DECODE(RANK, 'AA', '부장', 'BB', '과장', 'CC', '대리', 'DD', '사원') AS EMP_RANK
		FROM MEMBER 
		WHERE USERID = #{userId }
	</select>
	
	
	
	
	
	
	
	
	
</mapper> 